/*
font-family: "Playfair Display", serif;
font-family: "Poppins", sans-serif;
*/

:root {
  --branding-color: rgb(250, 250, 250);
  --secondary-color: rgb(157, 92, 13);
  --bg-highlight-color: rgb(229, 137, 10);
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
  color: var(--secondary-color);
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
  color: black;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 48px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

nav {
  padding: 20px;
}

.logo {
  max-width: 150px;
  margin-top: -40px;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: var(--secondary-color);
  transition: all 100ms ease-in-out;
}

nav li:active,
nav a:hover {
  color: black;
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background-color: rgb(251, 246, 238);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: var(--secondary-color);
  font-size: 24px;
}

footer .email-link:hover {
  color: black;
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background-color: var(--secondary-color);
  padding: 10px 14px;
  font-size: 18px;
  border-radius: 50px;
}

footer p {
  color: black;
}

a {
  text-decoration: none;
  color: black;
}
footer .social-links a:hover {
  color: var(--branding-color);
  background-color: black;
}
.hero {
  text-align: center;
  background-color: var(--bg-highlight-color);
  padding: 80px 40px;
}

.hero p {
  font-size: 36px;
  color: var(--branding-color);
  font-weight: bold;
  margin: 0;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-size: 24px;
  color: var(--branding-color);
  font-weight: normal;
  line-height: 1.5;
}

.hero .hero-btn {
  background: var(--branding-color);
  color: var(--secondary-color);
}

.content-container {
  padding: 60px 0px;
}

.content-container h1 {
  font-size: 64px;
  line-height: 1.5;
}

.content-container h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content {
  margin: 30px;
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font-family);
}

.btn-branding {
  border-radius: 4px;
  background: var(--secondary-color);
  padding: 16px 24px;
  color: var(--branding-color);
  font-size: 18px;
  line-height: 27px;
}

.btn-branding-outline {
  padding: 15px 25px;
  color: var(--secondary-color);
  font-size: 18px;
  line-height: 27px;
  border: 1px solid;
  border-radius: 5px;
  background-color: white;
}

.btn:hover {
  padding: 15px 25px;
  color: var(--secondary-color);
  font-size: 18px;
  line-height: 27px;
  border: 1px solid;
}


.project-description {
  padding: 120px 0px;
}

.about h1 {
  font-size: 50px;
 color: rgb(157, 92, 13);
}

.about-photo {
  border-radius: 5px;
}
.work h1 {
  color: var(--secondary-color);
}

.branding h1 {
  color: var(--secondary-color);
  font-size: 62px;
}

.resume {
  position: relative;
  overflow: hidden;
  height: 900px;
  width: 100%;
  padding-top: 5% ;
  border-radius: 5px;
}

.resume iframe {
   position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.pdf-iframe {
  position: relative;
  overflow: hidden;
  height: 400px;
  width: 100%;
  padding-top: 5% ;
  display: inline;
}

.pdf {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 45%;
  height: 100%;
}



* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

@media (max-width: 800px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 44px;
  }

  nav a {
    font-size: 14px;
  }

  .hero {
    padding: 80px 20px;
  }

  .hero p {
    font-size: 30px;
  }

  .content-container {
    text-align: center;
    padding: 0;
  }

  .content-container h1 {
    font-size: 44px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .skills {
    list-style-type: none;
  }

  .resume {
    height: 480px;
  }

  .pdf {
    width: 100%;
  }
}
